.logo{
  float:right;
  width: 40%;
  height: 40%;
  border: 2px black;
  padding: 2px;
}

h1 {
  color: White;
  text-align: left;
  font-family: Gill Sans Extrabold,sans-serif;
  font-size: 40px
}

.jumbotron p.error-message {
  font-size: 15px;
}
body{
  background-color: #373833;
}

.list{
  list-style-type: none;
  color:white;
}
.nav-tabs{
  text-align: right;
}
